# Prometheus configuration file
# https://prometheus.io/docs/prometheus/latest/configuration/configuration/

# Global configuration
global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alert manager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets: []

# Rule files configuration
rule_files: []

# Scrape configurations
scrape_configs:
  - job_name: "apple_quality_model"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["apple-quality-model:8501"]

  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"] 